appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
black==19.10b0
Click==7.0
colorama==0.4.3
coverage==5.0.3
dataclasses==0.7
entrypoints==0.3
flake8==3.7.9
isort==4.3.21
lazy-object-proxy==1.4.3
llvmlite==0.31.0
mccabe==0.6.1
nose2==0.9.1
numba==0.47.0
numpy==1.18.1
pandas==0.25.3
pathspec==0.7.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
regex==2020.1.8
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
wrapt==1.11.2
yapf==0.29.0
